In [1]:
# [예제 2.25] 기본 설정

import pandas as pd
import xlwings as xw

import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
%matplotlib inline

# font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
# rc('font', family=font_name)
# 맥OS인 경우 위 두 줄을 입력하지 말고 아래 코드를 입력하세요
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [2]:
!open .

In [4]:
# [예제 2.26] 소득 데이터 읽어오기 

#path = r'C:\Users\JK\Desktop\부동산 데이터\행정구역_시도_별_1인당_지역내총생산__지역총소득__개인소득_20180821155737.xlsx'
path = r'data/행정구역_시도_별_1인당_지역내총생산__지역총소득__개인소득_20180821155737.xlsx'
raw = pd.read_excel(path, sheet_name='데이터', index_col=0)

raw

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
행정구역(시도)별,,,,,,,,,,,,,,,,,
행정구역(시도)별,1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원)
전국,8602,8964,9419,9848,10493,11198,11656,12407,12883,13173,14068,14706,15256,15799,16394,17222,17653
서울특별시,10119,10616,11185,11787,12493,13453,13955,15130,15401,15405,16495,17215,18018,18565,19104,19962,20506
부산광역시,8231,8539,9024,9364,9835,10581,11077,11825,12469,12791,13672,14694,15430,15972,16369,17170,17599
대구광역시,8253,8481,8886,9261,9711,10482,10925,11562,12017,12315,13376,14183,14635,15047,15851,16686,16987
인천광역시,7761,7979,8409,8766,9378,10021,10489,11074,11625,12056,13022,13513,14167,14714,15549,16299,16974
광주광역시,7985,8426,8686,9175,9657,10499,10997,11665,12180,13107,13464,13927,14528,14849,15341,16105,16575
대전광역시,8047,8461,8864,9391,9912,10697,11313,11963,12439,13229,14205,14801,15280,15721,16207,17064,17680
울산광역시,9714,10394,10952,11517,12667,13555,13931,15380,16046,16260,17329,18507,18694,19011,19238,19963,19496
경기도,8865,9126,9672,9952,10554,11181,11583,12084,12592,12697,13592,14303,14773,15384,16131,17130,17752
강원도,7485,7833,8294,8676,9284,9681,10090,10779,11194,11908,12499,12775,13304,13600,14454,15142,15542
충청북도,7834,8093,8538,9006,9621,10286,10783,11354,11845,12287,13122,13341,14061,14456,14761,15658,16158
충청남도,8092,8280,8610,9047,9966,10171,10645,11184,11564,11870,13299,13472,14239,15122,15727,16303,16666
전라북도,7611,8086,8195,8668,9289,9840,10316,11150,11666,12225,12828,13542,13711,14447,14994,15849,16052
전라남도,7148,7579,7768,8317,9017,9495,9926,10639,11148,11664,12429,12675,13018,13484,13829,14703,14971
경상북도,7938,8165,8647,8898,9687,10332,10670,11260,11764,12212,12883,13395,13966,14435,14901,15462,15653
경상남도,7855,8412,8697,9156,9828,10425,10952,11680,12412,12699,13431,14016,14201,14876,15575,16293,16326
제주특별자치도,8512,8477,9084,9395,9689,10746,10867,11501,11949,13598,13683,14593,15059,15429,15537,16247,16607

In [5]:
# [예제 2.27] 첫 번째 행 제거

raw.drop(['행정구역(시도)별'], inplace=True)

In [8]:
raw
raw.columns.name

In [9]:
# [예제 2.28] 인덱스의 시도 이름을 약어로 변경하기 

index_list = raw.index
new_index = []
for temp in index_list:
    if temp[-1] == '시':
        new_index.append(temp[:2])
    elif temp[-1] == '도':
        if len(temp) == 3:
            new_index.append(temp[:2])
        elif len(temp) == 4:
            new_index.append(temp[0] + temp[2])
        else:
            new_index.append('제주')
    else:
        new_index.append(temp)
        
raw.index = new_index

In [10]:
# [예제 2.29] 컬럼과 인덱스 서로 바꾸기 

income_data = raw.T

income_data

,전국,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주
2000,8602,10119,8231,8253,7761,7985,8047,9714,8865,7485,7834,8092,7611,7148,7938,7855,8512
2001,8964,10616,8539,8481,7979,8426,8461,10394,9126,7833,8093,8280,8086,7579,8165,8412,8477
2002,9419,11185,9024,8886,8409,8686,8864,10952,9672,8294,8538,8610,8195,7768,8647,8697,9084
2003,9848,11787,9364,9261,8766,9175,9391,11517,9952,8676,9006,9047,8668,8317,8898,9156,9395
2004,10493,12493,9835,9711,9378,9657,9912,12667,10554,9284,9621,9966,9289,9017,9687,9828,9689
2005,11198,13453,10581,10482,10021,10499,10697,13555,11181,9681,10286,10171,9840,9495,10332,10425,10746
2006,11656,13955,11077,10925,10489,10997,11313,13931,11583,10090,10783,10645,10316,9926,10670,10952,10867
2007,12407,15130,11825,11562,11074,11665,11963,15380,12084,10779,11354,11184,11150,10639,11260,11680,11501
2008,12883,15401,12469,12017,11625,12180,12439,16046,12592,11194,11845,11564,11666,11148,11764,12412,11949
2009,13173,15405,12791,12315,12056,13107,13229,16260,12697,11908,12287,11870,12225,11664,12212,12699,13598
2010,14068,16495,13672,13376,13022,13464,14205,17329,13592,12499,13122,13299,12828,12429,12883,13431,13683
2011,14706,17215,14694,14183,13513,13927,14801,18507,14303,12775,13341,13472,13542,12675,13395,14016,14593
2012,15256,18018,15430,14635,14167,14528,15280,18694,14773,13304,14061,14239,13711,13018,13966,14201,15059
2013,15799,18565,15972,15047,14714,14849,15721,19011,15384,13600,14456,15122,14447,13484,14435,14876,15429
2014,16394,19104,16369,15851,15549,15341,16207,19238,16131,14454,14761,15727,14994,13829,14901,15575,15537
2015,17222,19962,17170,16686,16299,16105,17064,19963,17130,15142,15658,16303,15849,14703,15462,16293,16247
2016,17653,20506,17599,16987,16974,16575,17680,19496,17752,15542,16158,16666,16052,14971,15653,16326,16607

In [11]:
# [예제 2.30] 소득 데이터 전처리 과정 함수화 

def income_preprocessing(path):
    # path : KB 데이터 엑셀 파일의 디렉토리 (문자열)
    
    raw = pd.read_excel(path)
    raw.drop([0], inplace=True)
    raw.set_index('행정구역(시도)별', inplace=True)
    index_list = raw.index
    new_index = []
    for temp in index_list:
        if temp[-1] == '시':
            new_index.append(temp[:2])
        elif temp[-1] == '도':
            if len(temp) == 3:
                new_index.append(temp[:2])
            elif len(temp) == 4:
                new_index.append(temp[0] + temp[2])
            else:
                new_index.append('제주')
        else:
            new_index.append(temp)

    raw.index = new_index
    income_data = raw.T
    return income_data


income_data_path = r'data/행정구역_시도_별_1인당_지역내총생산__지역총소득__개인소득_20180821155737.xlsx'
income_data = income_preprocessing(income_data_path)

In [28]:

path = r'data/★(월간)KB주택가격동향_시계열(2019.01)12831994601335062.xls'
data_type = '매매종합'
wb = xw.Book(path)                
sheet = wb.sheets[data_type]   
type(sheet)
row_num = sheet.range((1,1)).end('down').end('down').end('down').row  
row_num
# data_range = 'A2:GE' + str(row_num)
# data_range = 'A2:GE401'
# raw_data = sheet[data_range].options(pd.DataFrame, index=False, header=True).value 
# raw_data

401

In [24]:
# [예제 2.31] KB 가격지수 데이터 가져오기 

def KBpriceindex_preprocessing(path, data_type):
    # path : KB 데이터 엑셀 파일의 디렉토리 (문자열)
    # data_type : ‘매매종합’, ‘매매APT’, ‘매매연립’, ‘매매단독’, ‘전세종합’, ‘전세APT’, ‘전세연립’, ‘전세단독’ 중 하나
    
    wb = xw.Book(path)                
    sheet = wb.sheets[data_type] 
    
    row_num = sheet.range((1,1)).end('down').end('down').end('down').row  
    data_range = 'A2:GE' + str(row_num)
#     data_range = 'A2:GE401'
    raw_data = sheet[data_range].options(pd.DataFrame, index=False, header=True).value 
    
    bignames = '서울 대구 부산 대전 광주 인천 울산 세종 경기 강원 충북 충남 전북 전남 경북 경남 제주도 6개광역시 5개광역시 수도권 기타지방 구분 전국'
    bigname_list = bignames.split(' ')
    big_col = list(raw_data.columns)
    small_col = list(raw_data.iloc[0])

    for num, gu_data in enumerate(small_col):
        if gu_data == None:
            small_col[num] = big_col[num]

        check = num
        while True:
            if big_col[check] in bigname_list:
                big_col[num] = big_col[check]
                break
            else:
                check = check - 1
                
    big_col[129] = '경기' 
    big_col[130] = '경기'
    small_col[185] = '서귀포'
    
    raw_data.columns = [big_col, small_col]
    new_col_data = raw_data.drop([0,1])
    
    index_list = list(new_col_data['구분']['구분'])

    new_index = []

    for num, raw_index in enumerate(index_list):
        temp = str(raw_index).split('.')
        if int(temp[0]) > 12 :
            if len(temp[0]) == 2:
                new_index.append('19' + temp[0] + '.' + temp[1])
            else:
                new_index.append(temp[0] + '.' + temp[1])
        else:
            new_index.append(new_index[num-1].split('.')[0] + '.' + temp[0])

    new_col_data.set_index(pd.to_datetime(new_index), inplace=True)
    cleaned_data  = new_col_data.drop(('구분', '구분'), axis=1)
    return cleaned_data



path = r'data/★(월간)KB주택가격동향_시계열(2019.01)12831994601335062.xls'
data_type = '매매종합'
price_data = KBpriceindex_preprocessing(path, data_type)
price_data

SyntaxError: invalid syntax (<ipython-input-24-961b12c01174>, line 9)

In [ ]:
# [예제 2.32] 특정 지역들의 부동산 가격지수 변화와 개인소득 변화를 subplot으로 나타내기 

location_list = ['전국', '서울', '부산', '대구', '대전' ,'광주', '경기']
start_year = '2004'
end_year = '2016'

num_row = int((len(location_list)-1)/2)+1
plt.figure(figsize=(12, num_row*5))
for j, location in enumerate(location_list):
    year_data = []
    for i in range(int(start_year), int(end_year) + 1):
        if location == '제주도':
            year_data.append(price_data[location]['서귀포'][str(i)+'.12.1'])
        else:
            year_data.append(price_data[location][location][str(i)+'.12.1'])

    temp_df = pd.DataFrame(income_data[location][start_year:end_year])
    temp_df.columns = [location + '소득']
    temp_df[location + '부동산 가격지수'] = year_data
    temp_df['소득 변화율'] = (temp_df[location + '소득']/temp_df[location + '소득'][0] - 1 )*100
    temp_df['부동산 기격 지수 변화율'] = (temp_df[location + '부동산 가격지수']/temp_df[location + '부동산 가격지수'][0] - 1 )*100

    plt.subplot(num_row, 2, j+1)
    plt.title(location + ', ' + start_year + ' ~ ' + end_year + '까지')
    plt.plot(temp_df['부동산 기격 지수 변화율'], label=location + ' 부동산 가격 지수 변화율')
    plt.plot(temp_df['소득 변화율'], label=location + ' 소득 변화율')
    plt.legend()

In [ ]:
# [예제 2.33] PIR 데이터 가져오기 (ch02/ 2.2 ‘기준’이 필요해!.ipynb)

path = r' 여러분이 내려 받은 KB 엑셀파일의 디렉터리를 넣으세요 \ KB엑셀 파일명.xls'
wb = xw.Book(path)                
sheet = wb.sheets['PIR(월별)']   
row_num = sheet.range('J2').end('down').row  
data_range = 'B2:N' + str(row_num)
pir_rawdata = sheet[data_range].options(pd.DataFrame, index=False, header=True).value

In [ ]:
# [예제 2.34] 지역을 구분하는 상위 컬럼 만들기 

big_col = list(pir_rawdata.columns)
big_col[0] = 'index1'
big_col[1] = 'index2'
big_col[2] = 'index3'

for num, col in enumerate(big_col):
    if col == None:
        big_col[num] = big_col[num - 1]
    else:
        pass

In [ ]:
# [예제 2.35] 소득 분위를 나타내는 하위 컬럼 만들기 

small_col = list(pir_rawdata.loc[1])
small_col[0] = 'index1'
small_col[1] = 'index2'
small_col[2] = 'index3'

In [ ]:
# [예제 2.36] 이중 컬럼 설정 

pir_rawdata.columns = [big_col, small_col]
pir_rawdata.drop([0,1], inplace=True)

In [ ]:
# [예제 2.37] 상위 인덱스 설정

big_index = list(pir_rawdata['index1']['index1'])
for num, index in enumerate(big_index):
    if index is not None:
        if type(index) == str:
            big_index[num] = '20' + index.split(".")[0][1:] + '.' + index.split(".")[1][:2]
        else:
            big_index[num] = big_index[num - 1].split(".")[0] + "." +  str(int(index))
    else:
        big_index[num] = big_index[num - 1]

In [ ]:
# [예제 2.38] 하위 인덱스 및 이중 인덱스 설정  

small_index = list(pir_rawdata['index3']['index3'])
pir_rawdata.index = [pd.to_datetime(big_index), small_index]

del pir_rawdata['index1']
del pir_rawdata['index2']
del pir_rawdata['index3']

pir_rawdata.index.names = ['날짜', '평균주택가격']

In [ ]:
pir_rawdata.xs('3분위', level='평균주택가격')

In [ ]:
# [예제 2.39] 서울 각 소득 분위의 3분위 주택가격 시계열 subplot으로 나타내기  

gagus = ['1분위', '2분위', '3분위', '4분위', '5분위']
location = '서울 Seoul'
num_row = int((len(gagus)-1)/2)+1

plt.figure(figsize=(10, num_row*5))
for i, gagu in enumerate(gagus):
    plt.subplot(num_row, 2, i+1)
    plt.title(gagu + " 가구의 중간값(3분위) 주택가격 PIR")
    plt.plot(pir_rawdata.xs('3분위', level='평균주택가격')[location][gagu])
    
plt.show()

In [ ]:
pir_rawdata

In [ ]:
# [예제 2.40] PIR 그래프에 평균값 추가하기 

gagus = ['1분위', '2분위', '3분위', '4분위', '5분위']
location = '서울 Seoul'
house_price_level = '3분위'
num_row = int((len(gagus)-1)/2)+1

plt.figure(figsize=(10, num_row*5))
for i, gagu in enumerate(gagus):
    plt.subplot(num_row, 2, i+1)
    plt.title(gagu + " 가구의 중간값(" + house_price_level + ") 주택가격 PIR")
    plt.plot(pir_rawdata.xs(house_price_level, level='평균주택가격')[location][gagu])
    indx = pir_rawdata.xs(house_price_level, level='평균주택가격')[location][gagu].index
    long_mean = pir_rawdata.xs(house_price_level, level='평균주택가격')[location][gagu].mean()
    plt.plot(indx, [long_mean for a in range(len(pir_rawdata.xs(house_price_level, level='평균주택가격')[location][gagu]))])
    
plt.show()